.floatleft {
    float: left;
}

.clearfloat {
    clear: both;
}

.categoryHeader {
    font-size: 1.35em;
    color:gray;
    font-weight: 500;
    margin-bottom: 8px;
}

.actionwidth {
    width: 44px;
    align-items: center;
}

[data-tip] {
	position:relative;
}

[data-tip]:before {
	content:'';
	/* hides the tooltip when not hovered */
	display:none;
	content:'';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #1a1a1a;	
	position:absolute;
	top:15px;
	left:35px;
	z-index:8;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
}

[data-tip]:after {
	display:none;
	content:attr(data-tip);
	position:absolute;
	top:20px;
	left:0px;
	padding:5px 8px;
	background:#1a1a1a;
	color:#fff;
	z-index:9;
	font-size: 0.75em;
	height:18px;
	line-height:18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space:nowrap;
	word-wrap:normal;
}

[data-tip]:hover:before,
[data-tip]:hover:after {
	display:block;
}

.top-actions {
  margin-bottom: 15px;
}


/* make the dropdown box look integrated. */
.btn-secondary {
  background-color: #363c51;
  border-color: #363c51;
}

.btn-secondary:hover {
  background-color: #363c51;
  border-color: #363c51;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  background-color: #363c51;
  border-color: #363c51;
}


/* make so menu items are grayed out if there is no link to them. */
.dropdown-disabled {
  color: #ddd !important;
  cursor: default;
}

.dropdown-disabled:hover {
  color: #eee;
  cursor: default;
}

/* for long clicks on the disabled */
.dropdown-disabled:active {
  color: #eee;
  cursor: default;
  background: transparent;
}


.dropdown-item {
  cursor: pointer
}

ul.test li a {
  color: #fff !important;
}

/* hack so that the top bar links stay white */
.topb a {
  text-decoration: underline;
  color: #fff;
}

.table .thead-dark th {
  background-color: #363c51;
}

.container {
  background-color: #fff;
}

.bg-dark {
  background-color: #363c52 !important;
  
}



/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  padding: 0;
 
}

.sidebar-sticky {
  position: relative;
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; 
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}
.sidebar *, ::after, ::before {
  box-sizing: none !important;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }


.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
